body {
    font-family: sans-serif;
    font-size: 1em;
    max-width: 80%;
    margin: 0 auto;
}

#navigation{
    list-style-type:none;
    width: 100%;
    background-color: #ccc;
    margin: 0;
    padding: 0;
}

.nav-li-1 {
    display: inline-block;
    font-weight: bolder;
    vertical-align:top;
    padding: 0 2em;
    min-width: 10em;
}

.nav-li-1:first-child {
    margin: 0; padding-left: 0;
}
.nav-level-2 {
    list-style-type:none;
    display: list-item;
    margin: 0; padding: 0;
}

.nav-li-2 {
    font-weight: normal;
    display: list-item;
    text-align:left;
}
