body {
    font-family: sans-serif;
    font-size: 1em;
    max-width: 80%;
    margin: 0 auto;
}

.navigation{
    list-style-type:none;
    width: 100%;
    background-color: #ccc;
    margin: 0;
    padding: 0;
}

.nav-li-1 {
    display: inline-block;
    font-weight: bolder;
    vertical-align:top;
    padding: 0 2em;
    min-width: 10em;
}

.nav-li-1:first-child {
    margin: 0; padding-left: 0;
}
.nav-level-2 {
    list-style-type:none;
    display: list-item;
    margin: 0; padding: 0;
}

.nav-li-2 {
    font-weight: normal;
    display: list-item;
    text-align:left;
}


/*From  http://www.w3schools.com/howto/howto_css_dropdown.asp */
/* Dropdown Button */
.dropbtn {
    background-color: #ccc;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ccc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #0052cc}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #0052cc;
}